.nav-item{
    text-decoration: none;

}
.nav-container{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
 

    
}

.manu{
 padding: 50px;
}


div img {
    color: burlywood;
}
.logo{
    width: 100px;
    height: 100px;
    margin: 18px 50px;
    border-radius: 20px;
}
.login-btn{
    border-radius: 15px;
    background-color: goldenrod;
}
.nav-item{
    font-size: 18px;
    font-weight: 400;
}
.logout{
    background-color: goldenrod;
    border-radius: 15px;
    border: none;
}
.login{
    background-color: goldenrod;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
.nav-item:hover{
    background-color: goldenrod;
    
    border: none;
}

.company-name{
    font-size: 40px;
    margin-left: 10px;
    
}